body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0px;
    padding: 0px;
}

.dashboard{
    position: relative;
    z-index: 2;;
    background-color: rgb(25,146,212);
    grid-row: 1/4;
    padding: 20px;
    box-shadow: 5px 0px 10px 0px lightgray;
}

.dashboard-logo{
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    font-size: 35px;
}

div.dashboard ul{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

div.dashboard ul,div.dashboard li,div.dashboard a{
    list-style: none;
    padding: 0px;
    text-decoration: none;
    color: black;
    grid-column: 1/2;
    margin-bottom: 10px;
}

.header{
    position: relative;
    z-index: 1;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 5px 0px 10px 0px lightgray;
}

.menu{
    display: grid;
    grid-template-columns: 8fr 1fr 2fr;
    align-self: center;
    margin-left: 25px;
}

.menu button{
    background-color: inherit;
    border: none;
    font-size: 20px;
}
div.menu form{
    list-style: none;
    padding: 0px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.menu form{
    display: flex;
    grid-template-columns: 50px minmax(100px, 50%);
    justify-content: start;
    align-items: center;
    gap: 10px;
}

div.menu form input{
    background-color: rgb(226,232,240);
    border: none;
    border-radius: 20px;
    color: black;
    padding: 8px;
    width: 50%;
}
.bell-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.bell-icon i{
    font-size: 25px;
}

.mini-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.profile-pic{
    font-size: 20px;
    background-color: rgb(226,232,240);
    border-radius: 50%;
    padding: 10px
}

.project-option-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 25px;
}

.profile{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.profile div i{
    font-size: 40px;
    padding: 10px;
}

.big-profile{
    margin-left: 30px;
}

.project-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project-buttons button{
    background-color: rgb(25,146,212);
    border: none;
    border-radius: 20px;
    padding: 5px 25px;
    font-size: 20px;
    font-weight: bold;
}

.card-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 25px;
    background-color: rgb(226,232,240);
    gap: 20px;
}

.article-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    /* grid-template-columns: 1fr 1fr; */
    gap: 10px;
}
.article div p, .article div h2{
    margin: 0px;
}
.article{
    display: grid;
    grid-template-rows: auto minmax(80px, auto);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 25vw;
    border-left: 7px solid rgb(240,180,41);
}

.article div p{
    color: rgb(148,148,148);
}
.article div h2{
    font-weight: bold;
}

.article-icons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

.article-icons img{
    width: 3vw;
    height: 3vw;
}
.article-icons button{
    background-color: inherit;
    border: none;
}

.side-section{
}   